<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link rel="shortcut icon" href="./src/images/favicon.ico" type="image/x-icon">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
    <div id="map"></div>
    <div id="modal" class="modal">
        <div class="modal__header">
            <div class="modal__title"></div>
            <button class="modal__close" type="button" title="Закрыть">Закрыть</button>
        </div>
        <div class="modal__body">
            <ul class="modal__comments-list">
                {{> './modal-review.hbs'}}
            </ul>
            <div class="modal-review">
                <div class="modal-review__title">ВАШ ОТЗЫВ</div>
                <form action="#" id="add-review">
                    <input name="name" type="text" class="modal-review__input" placeholder="Ваше имя" required value="Имя">
                    <input name="address" type="text" class="modal-review__input" placeholder="Укажите место" required value="Место">
                    <textarea name="text" id="" cols="30" rows="10" class="modal-review__input modal-review__input--textarea" placeholder="Поделитесь впечатлениями">Коммент</textarea>
                    <button class="btn btn--save" type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>