{{#each list}}
    <li class="modal__comment">
        <div class="modal__comment-info">
            <div class="modal__comment-author">{{name}}</div>
            <div class="modal__comment-address">{{address}}</div>
            <div class="modal__comment-data">{{date}}</div>
        </div>
        <div class="modal__comment-text">
            {{text}}
        </div>
    </li>
{{/each}}