$bgColor: #fff;
$orange: #ff8663;
$gradient: linear-gradient(to top, #ff7249 0%, #ff9e63 100%);
$gradientDark: linear-gradient(to top, #ff7249 0%, #ea8d54 100%);
$font: "Fira Sans";
$transition: all .3s ease;
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&subset=cyrillic');
html,
body {
  height: 100%;
}

body {
  font-family: $font;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  right: 30px;
  bottom: 70px;
  width: 107px;
  height: 79px;
  background: url('../images/logo.png')
}
* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

#map {
  width: 100%;
  height: 100%;
}
.map-pin {
  font-size: 50px;
  text-transform: uppercase;
  background-image: linear-gradient(to top, #6e6e6e 0%, #a2a1a0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &.active {
    background-image: $gradient
  }
}
.btn {
  display: block;
  padding: 9px 12px;
  border-radius: 10px;
  border: 2px solid transparent;
  background: $gradient;
  color: #ffffff;
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
  cursor: pointer;
  outline: none;
  transition: $transition;

  &:hover {
    background: #fff;
    border-color: $orange;
    color: $orange;
  }
  &:focus {
    background: $gradientDark;
    color: #fff
  }
  &--save {
    margin-left: auto;
  }
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 5%;
  width: 380px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: opacity .3s ease;
}
.modal__header {
  display: flex;
  align-items: center;
  background: $gradient;
  color: #fff;
  padding: 15px;
  cursor: move;
}

.modal__title {
  font-size: 12px;
  font-weight: 300;
  &::before {
    content: '\f041';
    display: inline-block;
    vertical-align: text-bottom;
    font-family: "FontAwesome";
    font-size: 14px;
    font-weight: 400;
    margin-right: 7px;
  }
}

.modal__close {
  margin-left: auto;
  font-size: 0;
  width: 14px;
  height: 14px;
  background: url('../images/close__btn.png') no-repeat center;
  border: none;
  cursor: pointer;
  transition: transform .3s ease;

  &:hover {
    transform: scale(1.05)
  }
}
.modal__body {
  padding: 15px;
}
.modal__comments-list {
  margin: 0;
  padding-right: 5px;
  padding-left: 0;
  padding-bottom: 15px;
  list-style: none;
  max-height: 155px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c4c4c4;
  }
}
.modal__comment {
  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  &-author {
    margin-right: 9px;
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 500;
  }
  &-address {
    opacity: 0.75;
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 400;
    margin-right: 8px;
  }
  &-data {
    font-size: 14px;
    opacity: 0.75;
    font-weight: 400;
    color: #4f4f4f;
  }
}
.modal-review {
  border-top: 1px solid #f0f0f0;
  padding-top: 15px;
  &__title {
    margin-bottom: 15px;
    color: #ff8663;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__input {
    display: block;
    margin-bottom: 15px;
    padding: 10px 15px;
    width: 100%;
    height: 32px;
    color: #000;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
    outline: none;
    transition: border .3s ease;

    &:focus {
      border-color: darken($color: #c4c4c4, $amount: 15);
    }
    &.required {
      animation: shake 1s ease;
      border-color: $orange;
    }
    &--textarea {
      resize: none;
      height: 130px;
    }
  }
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(5px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

.ballon_header { font-size: 15px; margin-top: 0; margin-bottom: 10px; }
.ballon_body { font-size: 14px;   }
.ballon_footer { font-size: 12px; text-align: right; color: #7D7D7D; margin-top: 10px; }